.contain{
    width: fit-content;
    margin-top: 100px;
    height: 100%;
    margin-bottom: 100px;
}
.table_box{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}
.table_title{
    background-color:#EFF6FF ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    font-weight: 600;
    font-size: 16px;
    padding-left: 30px ;
    padding-right: 20px ;
    color: #475569;
    text-align: left;
    border-top: 1px solid  #94A3B8;
}
.table_title_item{
    width: 14%;
    overflow-wrap: break-word;
}
.table_title_list{
    background-color:#ffffff ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    font-weight: 600;
    font-size: 16px;
    padding-left: 30px ;
    padding-right: 20px ;
    color: #475569;
    text-align: left;
    border-top: 1px solid  #94A3B8;
}
.contain{
    width: 80%;
    min-width: 700px;
}

.button{
    border-radius: 12px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    background-color: #29337D;
    border: 0px;
    width: 90%;
}

.modal_title{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.button:hover{
    opacity: 0.8
}

.button:disabled {
    opacity: 0.3
}

.popout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    min-height: 600px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

